/* General body styles */
body {
    font-family: Arial, sans-serif !important;
    color: #303C6C !important; /* dark blue */
    background-color: #D2FDFF !important; /* very light cyan */
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #FBE8A6 !important; /* light yellow */
    padding: 10px 20px;
    text-align: center;
}

/* Navigation styles */
nav {
    background-color: #F4976C !important; /* coral */
    padding: 10px;
}

nav ul {
    list-style-type: none !important; 
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #303C6C !important; /* dark blue */
    font-weight: bold;
}

/* Main content area */
main {
    padding: 20px;
    background-color: #B4DFE5 !important; /* light teal */
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #303C6C !important; /* dark blue */
    color: #D2FDFF; /* very light cyan */
}

ul {
    list-style-type: none;
}

.chapter-select {
    display: flex;
    flex-wrap: wrap;
    
    max-width: 1200px;
}

.box {
    flex: 1 0 21%;
    margin: 1%;
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 5px;
    transition: background-color .3s ease;
}

.box:hover {
    background-color: lightblue;
    text-decoration: none;
}

/* Different screen resolutions */
@media (max-width: 768px) {
    .box {
        flex: 1 0 46%; /* Two boxes per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .box {
        flex: 1 0 96%; /* One box per row on the smallest screens */
    }
}